<!DOCTYPE html>
    <html>
    <head>
    
    </head>

    <body>
		
    </body>
    </html>

<div>
if (isset($success)) 
{
	echo "Message successfully sent";
}
else
{
	echo  "Message Sending Failed, try again";
}   
</div>